<!-- Begin page content -->
<div class="container" id="container" style="max-width: 730px !important; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;">

    <div class="jumbotron" style="padding-left: 0px; padding-right: 0px;">
        <div align="center" style="margin: auto;">
            <h2>Comprar bitcoin</h2>
        </div>
        <div class="row" id="inputReal"
             style="margin: auto; text-align: center">
            <div class="col-md-6" style="display: none">
                <div class="row form-group">

                    <div class="col-md-7" style="display: none">
                        <select class="form-control" id="base">
                            <option selected>R$ 20,00</option>
                            <option>R$ 30,00</option>
                            <option>R$ 40,00</option>
                            <option>R$ 50,00</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row form-group"
                 style="margin: 0 auto; padding-top: 15px;font-size:14px">
                <form>
                    <h3 style="margin-top: 20px">Real</h3>
                    <div id="no-filtering-place" data-filter="false" style="color: #464a4c;"></div>

                    <h3 style="margin-top: 20px">Bitcoin</h3>
                    <input id="btc" name="bitcoins" type="text"
                           class="form-control input" /> <br>

                    <div style="padding-top: 0px;padding-bottom: 20px;font-weight: bold;font-size: 16px;">1 BTC = {{value | currency:'R$':true}}</div>

                    <button type="button"
                            onclick="window.open('http://btcmoedas.com.br/login');"
                            class="btn btn-primary"
                            style="padding: 8px 23px !important; font-size: 17px !important; cursor: pointer;">Confirmar
                        compra</button>

                </form>
            </div>

        </div>
    </div>
    <div class="spacer"></div>
</div>