<div id="large-header" class="large-header" style="height: 100%;position: fixed; top: 0; bottom: 0; left: 0; right: 0;">
    <canvas id="demo-canvas" width="1366" height="100%"></canvas>
</div>
<!-- Fixed navbar -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" id="navbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" id="navbar-brand" href="http://btcmoedas.com.br" style="font-size: 2.0rem;"><i class="fi-bitcoin-circle" style="font-size: 30px;"></i> BTC Moedas</a>

    <div style="width: 100%">


    </div>
    <div id="navbarColor01" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" id="nav">
            <li class="nav-item">
                <a class="nav-link" href="/comprar-bitcoin">Comprar bitcoin<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/como-funciona">Como funciona</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/simulador">Simulador</a>
            </li>
            <!--  <li class="nav-item">
                  <a class="nav-link" href="/afiliados">Afiliados</a>
              </li>-->

            <button id="btnlogin" style="cursor: pointer;" onclick="javascript:location.href='/login';" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>

        </ul>
    </div>
</nav>