<div class="container" id="container" style="max-width:730px!important;color:white;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif!important;">
<div class="card" style="background-color: transparent !important; border:none">
    <div class="jumbotron">
        <div align="center" style="margin: auto;"><h2 class="atendimento">Atendimento 24 horas</h2></div>
        <div class="card-text" style="padding-top: 20px;">
            <table class="table">
                <tbody>
                <tr>
                    <td class="tdcontato"><b>E-mail</b></td>
                    <td class="tdcontato">admin@btcmoedas.com.br</td>
                </tr>
                <tr>
                    <td class="tdcontato"><b>Telefone</b></td>
                    <td class="tdcontato">+55 41 99973-7902 | +55 41 3044-2916</td>
                </tr>
                <tr>
                    <td class="tdcontato"><b>Facebook</b></td>
                    <td class="tdcontato"><a target="_blank" href="https://www.facebook.com/BTC-Moedas-878798678935682/" style="
    color: white;
">@BTCMoedas</a></td>
                </tr>
                <tr>
                    <td class="tdcontato"><b>Chat Online</b></td>
                    <td class="tdcontato">Esse botão cinza na parte de baixo da página</td>
                </tr>
                <tr>
                    <td class="tdcontato"><b>Endereço</b></td>
                    <td class="tdcontato">Avenida República Argentina 3109 - Curitiba/PR</td>
                </tr>
                <tr>
                    <td class="tdcontato"></td><td class="tdcontato responsive"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>